.about{
  height:120vh;
  padding-bottom: 3rem;
  /* border: 3px solid blue;
   */
}


.about__container{
    /* padding-top: 30px; */
    background-color: var(--clr-lightpurple);
    text-align: center;
    /* height: 90vh; */ /* calc(100vh - 300px); */
    display: flex;
    flex-direction: column;
    
}

.about__title{
    flex: 1;
    background-color: var((--clr-light));
    display: flex;
    align-items: end;
    padding-top: 2rem;
    justify-content: center;
    /* background-color: red; */


}

.about__title h1{
    font-size: var(--size-3xl);
    margin-bottom: 1.5rem;

}


.about__text-container{
    position: relative;
    flex: 10;
    background-color: var(--clr-lightpurple);
    height: 100%;
    
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* .about__text-container:last-child{
    border-bottom: 3px solid var(--clr-purple);;
}
 */

.about__text{
    
    background-color: var(--clr-white);
    position: relative;
    padding-top: 2rem;
    padding-bottom: 3rem;
    margin-bottom: 4rem;
    border: 3px solid var(--clr-darkpurple);
    border-radius: 20px;
    /* width: 80%; */
    
    
}

.about__text p{
    font-size: var(--size-xl);
    font-weight: 500;
    padding-top: 2em;
    max-width:340px;
    margin: 0 auto;

}

.about__img{
    /* display: block; */
    width: 50px;
    position: absolute;
}

.about__img1{
    top: 20px;
    right: 40px;
}
.about__img2{
    top: 20px;
    right: 40px;
}
.about__img3{
    top: 25px;
    right: 40px;
}


.down__arrow1,.down__arrow2{
  position: absolute;
  transform: rotate(0.25turn);
  width: 50px;
  
  right: 50%;
  translate:50%;
}


.down__arrow1{
  top: 215px;
}

.down__arrow2{
  top: 210px;
  z-index: 2;
}


/* Mobile first Aproach */
@media (min-width:325px) {
  .down__arrow1{
  
  top: 215px;
  
  }


  .down__arrow2{
    top: 210px;
  }

}

@media (min-width:375px) {

  .about__title h1{
    font-size: var(--size-3xl);
  }

  .about__img1{
      right: 65px;
  }
  .about__img2{
      right: 65px;
  }
  .about__img3{
      right: 65px;
  }



}

 /* xss */
@media (min-width:425px) {
  .about{
    height: 120vh;
   
  }

  .about__text{
      width: 90%;
      max-width: 500px;
      margin-bottom: 4rem;

  }

  .about__title h1{
    font-size: var(--size-4xl);
  }

  .about__text h2{
    font-size: var(--size-3xl);
  }


  .about__img1,.about__img2,.about__img3 {
    right: 50px;
  }
  
 
}

 /* xs */
@media (min-width:475px) {



  .about__img1,.about__img2,.about__img3 {
    right: 50px;
  }

  .down__arrow1{
    top: 220px;
  }

  .down__arrow2{
    top: 220px;

  }
  
}

 /* sm */
@media (min-width:640px) {


    


.about__img1,.about__img2,.about__img3 {
    right: 110px;
  }


}

 /* md */
@media (min-width:768px) {
    
}

 /* lg */
@media (min-width:1024px) {
  .about{
    height: calc(100vh - 12vh);
    
  }

  .down__arrow1, .down__arrow2{
    transform: rotate(1turn);
    width: 50px;
    /* top: 300px; */
    top: 40%;
    translate:50%;
    right: -25px;

    

  }
  .down__arrow1{
    /* left: 232px; */
    z-index: 2;

  }
  .down__arrow2{
    /* right: 230px; */
    z-index: 2;
  }

  .about__text-container{
      
    flex-direction: row;
    justify-content: space-between;
    
    
    
    min-height: 75vh;
    
  }

  .about__title{
    padding-top: 0;
  }
   .about__title h1{
    /* position: absolute; */
    /* margin-top: 20px; */
    margin-bottom: 0;
    
    transform: translateY(50%);
    z-index: 2;
    
    /* align-items: end; */
    font-size: var(--size-5xl);
   }

  .about__text{
      width: calc(90%/3);
      height: 260px;
      /* max-width: 500px; */
      margin-bottom: 0;

  }


  .about__img1,.about__img2,.about__img3 {
    right: 0;
  }
}

@media (min-width:1150px) {
  .about__img1,.about__img2,.about__img3 {
    right: 10px;
    
  }
}


 /* xl */
@media (min-width:1280px) {
    .about__text{
      width: calc(90%/3);
      height: 250px;
      max-width: 500px;

  }  

  .about__img1,.about__img2,.about__img3 {
    right: 18px;
    
  }
}



 /* 2xl */
@media (min-width:1536px) {
  .about{
    height: calc(80vh - 12vh);
    
  }

  .about__text-container{
    
    min-height: calc(73vh - 12vh);
    
    
  }

  .about__title h1{
    font-size: var(--size-5xl);
  }

  .down__arrow1, .down__arrow2{
    width: 60px;
    right: -35px;

  }

  .about__img1,.about__img2,.about__img3 {
    right: 45px;
  }  
}

